In [1]:
# DDL (Data Definition Language) is used to define and manage the database structure. It consists of SQL commands like CREATE, DROP, ALTER, and TRUNCATE.

In [2]:
# CREATE: Used to create a database or table.

# CREATE TABLE Students (
#     ID INT PRIMARY KEY,
#     Name VARCHAR(50),
#     Age INT
# );

In [3]:
# DROP: Deletes an entire database or table permanently
# DROP TABLE Students;

In [4]:
# ALTER: Modifies an existing table (adds, deletes, or modifies columns).
# ALTER TABLE Students ADD Email VARCHAR(100);

In [ ]:
# TRUNCATE: Deletes all records from a table but keeps its structure.
# TRUNCATE: Deletes all records from a table but keeps its structure.