In [1]:
# DML (Data Manipulation Language) is used to manipulate and interact with data in the database.

In [2]:
# INSERT: Adds new records to a table
# INSERT INTO Students (ID, Name, Age) VALUES (1, 'John Doe', 20);

In [3]:
# UPDATE: Modifies existing records.
# UPDATE Students SET Age = 21 WHERE ID = 1;

In [ ]:
# DELETE: Removes specific records from a table.
# DELETE FROM Students WHERE ID = 1;